body {
  background-color: darkgrey;
}
button{
  background-color: rgb(48, 51, 51);
  height: 30px;
  border-radius: 10px;
  color: white;
}
button:hover{
  cursor: pointer;
  background-color: rgb(18, 20, 22);
  /* padding: 2%; */
}
.userForm{
  text-align: center;
  padding: 10%;
  background-color: gray;
  width: 300px;
  border-radius: 20px;
}

  .recognizeMain{
    height: 100%;
  }

/* Recognise page */
.recognize{
  display: "flex";
  justify-content: "center";
  align-items: "center";
  width: "100%";
  background-color: "darkgray";
  height: "10.8vh";
}

@media (max-width: 600px) {
  .userForm{
    height: 100vh;
    width: auto;
  }
  .recognizeVideo{
    /* width: none; */
  }
}
